
# Created by https://www.toptal.com/developers/gitignore/api/pvs,phpcodesniffer,opencart,go,perl
# Edit at https://www.toptal.com/developers/gitignore?templates=pvs,phpcodesniffer,opencart,go,perl

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.mp4
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

### OpenCart ###
.htaccess
/config.php
admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache

### Perl ###
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

### PHPCodeSniffer ###
# CodeSniffer

/vendor/*
/wpcs/*

### PVS ###
# Ignore binary files
pvsbin/
bin/
lib/
*.bin
.pvscontext
# Ignore orphaned and old proofs
orphaned-proofs.prf
*.prf~
# Ignore compiled Lisp files
*fasl
# Ignore PVS dump files
*.dmp
# Ignore PVS log files
*.log

# End of https://www.toptal.com/developers/gitignore/api/pvs,phpcodesniffer,opencart,go,perl